<% var cols = table.columns; %>
<div class="widgetTable">
	<table>
		<thead>
			<tr>
				<% _.map(cols, function(col) { %>
					<th class="<%= col.name %>" <% if (col.width) { %>style="width: <%= col.width %>"<% } %>><%= col.title %></th>
				<% }); %>
			</tr>
		</thead>
		<tbody>
			<% _.map(results, function(result) { %>
			<tr>
				<% _.map(cols, function(col) { %>
				<td class="<%= col.name %>" <% if (col.width) { %>style="width: <%= col.width %>"<% } %>><%= result[col.name] %></td>
				<% }) %>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>